.task {
    box-shadow: 2px 2px 4px lightgray;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin: 1rem 0;
}

.name {
    font-size: larger;
}

.status {
    font-size: smaller;
}

.description {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.date {
    justify-content: space-between;
    align-items: center;
}

.topline {
    display: flex;
    justify-content: space-between;
}