.nav {
    padding: 1.5rem;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    border-radius: 4px;
    padding: 5px;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #B9B4C7;
    cursor: pointer;
}

.navTitle {
    color: #B9B4C7;
    font-size: 24px;
    margin-right: 2.5rem;
    font-weight: bold;
}