.task {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin: 1rem 0;
}

.name {
    color: #B9B4C7;
    font-size: larger;
}

.status {
    color: #B9B4C7;
    font-size: smaller;
}

.description {
    background-color: #eeeeee;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-radius: 5px;
}

.date {
    color: #B9B4C7;
    justify-content: space-between;
    align-items: center;
}

.topline {
    display: flex;
    justify-content: space-between;
}

.statusSelect {
    border-radius: 5px;
    margin-bottom: 1.5rem;
    display: block;
    padding: 3px;
}

option {
    color: grey;
}